body {
  padding: 45px 25px;
  font-family: "PT Sans", "Arial", Helvetica, sans-serif;
  background: #1192d3;
  background-image:url('../images/blossom-web2.jpg'); 
    background-position-x:center; 
    background-position-y:center; 
    background-color:#fff; 
    color: #fff;
    
}

a, a:visited {
 color: white;
}

a:hover {
  color: #ffc0cb;
}

.container {
   /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(153, 115, 121, 0.80);
    
}

#weather {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  max-width: 550px;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 130px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  margin-bottom: 10px;
}

.main-box
{
    background-color: transparent;
    border: 5px solid white;
    width: 100%;
    font-size: 108px;
    line-height: 140px;
    display: block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: default;
    border-radius: 30px;
}

h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  margin-top: 50px;
  margin-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  padding: 20px;
  display: inline-block;
  font-size: 22px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-cel,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-cel {
  color: #fff;
  background: #997379;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-far,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-far {
  color: #fff;
  background: #997379;
}
