body {
  padding: 45px 25px;
  font-family: "PT Sans", "Arial", Helvetica, sans-serif;
  /*font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  background: #1192d3;
  background-image:url('../images/bigstock-Spring-blossom-background-Bea-85929317.jpg'); 
    background-position-x:center; 
    background-position-y:center; 
    background-color:#fff; 
    color: #fff;
    
}

.container {
   /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(153, 115, 121, 0.80);
    
}

#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.main-box
{
    margin: 0 auto 30px;
    background-color: transparent;
    border: 5px solid white;
    width: 425px;
    height: 175px;
    font-size: 108px;
    line-height: 140px;
    display: block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: default;
    border-radius: 30px;
}

h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}

h2 {
  /*margin: 0 0 8px;*/
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  padding: 20px;
  display: inline-block;
  font-size: 22px;
}

li.currently {
  margin-right: 75px;
}

.icon-0:before { }
.icon-1:before { }
.icon-2:before { }
.icon-3:before { }
.icon-4:before { }
.icon-5:before { }
.icon-6:before { }
.icon-7:before { }
.icon-8:before { }
.icon-9:before { }
.icon-10:before {  }
.icon-11:before {  }
.icon-12:before {  }
.icon-13:before {  }
.icon-14:before {  }
.icon-15:before {  }
.icon-16:before {  }
.icon-17:before {  }
.icon-18:before {  }
.icon-19:before {  }
.icon-20:before {  }
.icon-21:before {  }
.icon-22:before {  }
.icon-23:before {  }
.icon-24:before {  }
.icon-25:before {  }
.icon-26:before {  }
.icon-27:before {  }
.icon-28:before {  }
.icon-29:before {  }
.icon-30:before {  }
.icon-31:before {  }
.icon-32:before {  }
.icon-33:before {  }
.icon-34:before {  }
.icon-35:before {  }
.icon-36:before {  }
.icon-37:before {  }
.icon-38:before {  }
.icon-39:before {  }
.icon-40:before {  }
.icon-41:before {  }
.icon-42:before {  }
.icon-43:before {  }
.icon-44:before {  }
.icon-45:before {  }
.icon-46:before {  }
.icon-47:before {  }
